[*.cs]

# CA1305: IFormatProvider angeben
dotnet_diagnostic.CA1305.severity = suggestion

# CA1304: CultureInfo angeben
dotnet_diagnostic.CA1304.severity = suggestion

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = suggestion

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = silent
