<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alchemie.Properties.CharacterSave" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Alchemie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Alchemie.Properties.CharacterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Alchemie.Properties.Character" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alchemie.Properties.CharacterSave>
            <setting name="MU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FF" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LaborStufe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaborQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllegorischeAnalyse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChymischeHochzeit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MandriconsBindung" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsingAlchemie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Alchemie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kochen" serializeAs="String">
                <value>0</value>
            </setting>
        </Alchemie.Properties.CharacterSave>
        <Alchemie.Properties.Settings>
            <setting name="SaveCharacterOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadCharacterOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForPrerelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Alchemie.Properties.Settings>
        <Alchemie.Properties.CharacterSettings>
            <setting name="MU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FF" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LaborStufe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaborQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllegorischeAnalyse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChymischeHochzeit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MandriconsBindung" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsingAlchemie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Alchemie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kochen" serializeAs="String">
                <value>0</value>
            </setting>
        </Alchemie.Properties.CharacterSettings>
        <Alchemie.Properties.Character>
            <setting name="MU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FF" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LaborStufe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaborQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllegorischeAnalyse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChymischeHochzeit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MandriconsBindung" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsingAlchemie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
        </Alchemie.Properties.Character>
    </userSettings>
</configuration>